.home-page{
  padding-top: 70px;
}
.ml-auto.navbar-nav a {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  color: #364547;
  text-transform: capitalize;
}
.navbar-light .navbar-brand {
  font-weight: 750;
  font-size: 30px;
  color: #1b2021;
}
.card-bottom .btn {
  background: #53354a;
  border: 1px solid #2b2e4a;
}
.card-bottom .btn:hover {
  background: #f8f5f1;
  color: #2b2e4a;
}
.login {
  border: 2px solid #f8f5f1;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
}
.login-btn{
  border: 5px solid #ebdfdf;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 40px;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}
button.login-btn span {
  position: absolute;
  left: 90px;
}
/* Home area  */
.card {
  padding-top: 40px;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  margin-bottom: 35px;
}
img.card-img-top {
  width: 75%;
  margin: 0 auto;
}
.card-title {
  font-weight: 750;
  text-transform: capitalize;
}
.card-bottom {
  padding: 0 25px 30px 25px;
  position: relative;
}
.card-bottom .card-link {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.card-bottom .btn {
  position: absolute;
  right: 10%;
}
/* order area  */
.orders {
  padding: 50px;
}
.summary{
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  padding: 30px;
  margin-bottom: 70px;
}
.hero-header{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./images/Bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #f8f4e1;
  padding: 100px 0;
  margin-bottom: 100px;
}
.hero-header h1 {
  text-align: center;
  font-weight: 750;
}
.hero-header h2 {
  text-align: center;
  font-weight: 800;
}
.sidebar{
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  padding:35px;
  margin-bottom: 60px;
}
.spinner-border {
  position: relative;
  left: 40%;
}
.sidebar ul li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 43px;
}
.sidebar ul li span {
  padding-right: 10px;
}
form {
  border: 1px solid #f8f4e1;
  border-radius: 15px;
  padding: 30px;
}
.footer{
  margin-top: 50px;
}
.footer h4 {
  background-color: #150e56;
  padding: 15px 0;
  color: #f8f4e1;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 480px) {
  
  .login {
    width: 90%;
  }
  
}